h1{
    text-align:center; 
    /*background-color: red;*/
    padding:10px 20px;
    text-decoration:none;

}

#result{
    color:rgb(0, 255, 115); 
    text-align: center;
    flex-grow:1; 
    background: rgb(119, 119, 119);
}

#entry{
   color:rgb(231, 212, 212); 
   text-align: center;
   width: 50%; 
   background:rgb(211, 19, 19);
   margin:5px;
}

.images{
    display:block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;


}